In [1]:
import time 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
file_name = '.' + os.sep + 'data' + os.sep + 'FAOSTAT_data.csv'
df = pd.read_csv(file_name)
df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1961,1961,tonnes,15100.0,*,Unofficial figure
1,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1962,1962,tonnes,15100.0,F,FAO estimate
2,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1963,1963,tonnes,15100.0,F,FAO estimate
3,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1964,1964,tonnes,18400.0,F,FAO estimate
4,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1965,1965,tonnes,20400.0,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167939,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2015,2015,tonnes,45302.0,NaN,Official data
167940,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2016,2016,tonnes,42008.0,NaN,Official data
167941,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2017,2017,tonnes,38715.0,NaN,Official data
167942,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2018,2018,tonnes,45000.0,F,FAO estimate
167943,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2019,2019,tonnes,80000.0,*,Unofficial figure