# Search Topic

In this notebook we will research about the diffrent kinds of Crops along the years 1984-2019 in global scale of growth, the amount of prodaction is by tonnes.
we will check if the greenhouse gas levels had any affect on the crops.

We will merge the amount of growth for each kind by year in a new data frame

1. compare between the kinds to see who was the most\least affected by the gas than others along the years
    * which kind was the most prodacted althoug the gas levels went higher every year
    * which kind was the least prodacted because the gas levels went higher every year
    
    
2. compare between the amount of production for a specific kind along the years to see if it was affected by the gas

we can know all that from the gas levels and the amount of production

In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
# import plotly.graph_objects as go
# import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
import time 
import os
%matplotlib inline

In [11]:
df_Gas_Crops_Data = pd.read_csv('./data/Gas_Crops_data.csv')
df_Gas_Crops_Data

,Domain,Area Code,Area,Element,Item Code,Item,Year,Unit,Value,Flag Description,CO2_levels,N2O_levels,CH4_levels
0,Crops,2,Afghanistan,Production,515,Apples,1961,tonnes,15100.0,Unofficial figure,no rec,no rec,no rec
1,Crops,2,Afghanistan,Production,515,Apples,1962,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
2,Crops,2,Afghanistan,Production,515,Apples,1963,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
3,Crops,2,Afghanistan,Production,515,Apples,1964,tonnes,18400.0,FAO estimate,no rec,no rec,no rec
4,Crops,2,Afghanistan,Production,515,Apples,1965,tonnes,20400.0,FAO estimate,no rec,no rec,no rec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154805,Crops,181,Zimbabwe,Production,15,Wheat,2015,tonnes,45302.0,Official data,0.4001,328.3,1844
154806,Crops,181,Zimbabwe,Production,15,Wheat,2016,tonnes,42008.0,Official data,0.4033,329.1,1853
154807,Crops,181,Zimbabwe,Production,15,Wheat,2017,tonnes,38715.0,Official data,0.4056,329.9,1860
154808,Crops,181,Zimbabwe,Production,15,Wheat,2018,tonnes,45000.0,FAO estimate,0.4079,331.1,1869
154809,Crops,181,Zimbabwe,Production,15,Wheat,2019,tonnes,80000.0,Unofficial figure,0.4105,332.0,1877

In [12]:
df_gas = pd.read_csv('./data/greenhouse gas.csv')
df_gas

    year  CO2_levels  N2O_levels  CH4_levels
0   1984      0.3443       303.9        1654
1   1985      0.3458       304.5        1666
2   1986      0.3472       305.3        1679
3   1987      0.3490       305.9        1691
4   1988      0.3514       306.7        1703
5   1989      0.3530       307.6        1714
6   1990      0.3542       308.6        1724
7   1991      0.3555       309.3        1735
8   1992      0.3562       309.9        1743
9   1993      0.3570       310.1        1746
10  1994      0.3586       310.7        1752
11  1995      0.3604       311.4        1759
12  1996      0.3621       312.0        1761
13  1997      0.3633       312.9        1765
14  1998      0.3660       313.7        1774
15  1999      0.3680       314.6        1782
16  2000      0.3695       315.7        1783
17  2001      0.3710       316.4        1782
18  2002      0.3729       317.1        1783
19  2003      0.3753       317.7        1787
20  2004      0.3771       318.4        1786
21  2005      0.3792       319.1        1785
22  2006      0.3813       320.0        1785
23  2007      0.3831       320.7        1791
24  2008      0.3852       321.6        1799
25  2009      0.3868       322.4        1804
26  2010      0.3890       323.3        1809
27  2011      0.3909       324.3        1814
28  2012      0.3931       325.2        1819
29  2013      0.3958       326.2        1825
30  2014      0.3977       327.3        1834
31  2015      0.4001       328.3        1844
32  2016      0.4033       329.1        1853
33  2017      0.4056       329.9        1860
34  2018      0.4079       331.1        1869
35  2019      0.4105       332.0        1877

In [13]:
df_gas_State = df_gas.copy()

df_gas_State["Afghanistan"]=0
df_gas_State["Colombia"]=0
df_gas_State["Denmark"]=0
df_gas_State["Israel"]=0
df_gas_State["Mexico"]=0
df_gas_State["Zimbabwe"]=0

df_gas_State

,year,CO2_levels,N2O_levels,CH4_levels,Afghanistan,Colombia,Denmark,Israel,Mexico,Zimbabwe
0,1984,0.3443,303.9,1654,0,0,0,0,0,0
1,1985,0.3458,304.5,1666,0,0,0,0,0,0
2,1986,0.3472,305.3,1679,0,0,0,0,0,0
3,1987,0.3490,305.9,1691,0,0,0,0,0,0
4,1988,0.3514,306.7,1703,0,0,0,0,0,0
5,1989,0.3530,307.6,1714,0,0,0,0,0,0
6,1990,0.3542,308.6,1724,0,0,0,0,0,0
7,1991,0.3555,309.3,1735,0,0,0,0,0,0
8,1992,0.3562,309.9,1743,0,0,0,0,0,0
9,1993,0.3570,310.1,1746,0,0,0,0,0,0
10,1994,0.3586,310.7,1752,0,0,0,0,0,0
11,1995,0.3604,311.4,1759,0,0,0,0,0,0
12,1996,0.3621,312.0,1761,0,0,0,0,0,0
13,1997,0.3633,312.9,1765,0,0,0,0,0,0
14,1998,0.3660,313.7,1774,0,0,0,0,0,0
15,1999,0.3680,314.6,1782,0,0,0,0,0,0
16,2000,0.3695,315.7,1783,0,0,0,0,0,0
17,2001,0.3710,316.4,1782,0,0,0,0,0,0
18,2002,0.3729,317.1,1783,0,0,0,0,0,0
19,2003,0.3753,317.7,1787,0,0,0,0,0,0
20,2004,0.3771,318.4,1786,0,0,0,0,0,0
21,2005,0.3792,319.1,1785,0,0,0,0,0,0
22,2006,0.3813,320.0,1785,0,0,0,0,0,0
23,2007,0.3831,320.7,1791,0,0,0,0,0,0
24,2008,0.3852,321.6,1799,0,0,0,0,0,0
25,2009,0.3868,322.4,1804,0,0,0,0,0,0
26,2010,0.3890,323.3,1809,0,0,0,0,0,0
27,2011,0.3909,324.3,1814,0,0,0,0,0,0
28,2012,0.3931,325.2,1819,0,0,0,0,0,0
29,2013,0.3958,326.2,1825,0,0,0,0,0,0
30,2014,0.3977,327.3,1834,0,0,0,0,0,0
31,2015,0.4001,328.3,1844,0,0,0,0,0,0
32,2016,0.4033,329.1,1853,0,0,0,0,0,0
33,2017,0.4056,329.9,1860,0,0,0,0,0,0
34,2018,0.4079,331.1,1869,0,0,0,0,0,0
35,2019,0.4105,332.0,1877,0,0,0,0,0,0

In [14]:
for i,valA in enumerate(df_Gas_Crops_Data['Year']):
#     print(i,valA)
#     print(df_Gas_Crops_Data['Area'][i])
    for j, valB in enumerate(df_gas_State['year']):
        if (valA == valB):
            if(df_Gas_Crops_Data['Area'][i]=='Afghanistan'):
                df_gas_State['Afghanistan'][j] = df_gas_State['Afghanistan'][j] + df_Gas_Crops_Data['Value'][i]
                
            if(df_Gas_Crops_Data['Area'][i]=='Israel'):
                    df_gas_State['Israel'][j] = df_gas_State['Israel'][j] + df_Gas_Crops_Data['Value'][i]
                
            if(df_Gas_Crops_Data['Area'][i]=='Zimbabwe'):
                    df_gas_State['Zimbabwe'][j] = df_gas_State['Zimbabwe'][j] + df_Gas_Crops_Data['Value'][i]
                    
            if(df_Gas_Crops_Data['Area'][i]=='Colombia'):
                    df_gas_State['Colombia'][j] = df_gas_State['Colombia'][j] + df_Gas_Crops_Data['Value'][i]
                    
            if(df_Gas_Crops_Data['Area'][i]=='Denmark'):
                    df_gas_State['Denmark'][j] = df_gas_State['Denmark'][j] + df_Gas_Crops_Data['Value'][i]
                    
            if(df_Gas_Crops_Data['Area'][i]=='Mexico'):
                    df_gas_State['Mexico'][j] = df_gas_State['Mexico'][j] + df_Gas_Crops_Data['Value'][i]
            
df_gas_State

,year,CO2_levels,N2O_levels,CH4_levels,Afghanistan,Colombia,Denmark,Israel,Mexico,Zimbabwe
0,1984,0.3443,303.9,1654,4038094,31702277,3816302,2208410,64452010,4870612
1,1985,0.3458,304.5,1666,3847203,32634885,3309551,2292880,66316559,6713741
2,1986,0.3472,305.3,1679,3644301,32452784,3484081,2119240,73347599,7139557
3,1987,0.3490,305.9,1691,3918800,32949609,3384465,2491105,74641169,4907209
4,1988,0.3514,306.7,1703,3525670,34192174,3602763,2036359,70012529,6071717
5,1989,0.3530,307.6,1714,3343300,35744760,4669171,2158277,72372033,6260344
6,1990,0.3542,308.6,1724,3256041,37099214,5660752,2611111,71749175,5690452
7,1991,0.3555,309.3,1735,3256202,37023088,5343916,1954400,69983139,5387514
8,1992,0.3562,309.9,1743,2992146,38132527,5568295,2101796,75521705,1946697
9,1993,0.3570,310.1,1746,3455429,40199385,6336976,1907294,78416256,3160571
10,1994,0.3586,310.7,1752,3644102,41144948,5373347,1980905,77033264,6105284
11,1995,0.3604,311.4,1759,3778351,41548212,6272018,2372641,81336765,4980416
12,1996,0.3621,312.0,1761,3770402,44017801,6595764,2285919,82663041,6204210
13,1997,0.3633,312.9,1765,4194956,45199721,6726356,2098755,82688730,6722941
14,1998,0.3660,313.7,1774,4416427,42616473,6601550,2291884,86137000,6500896
15,1999,0.3680,314.6,1782,3840064,43349951,6164290,2248852,84444357,6793123
16,2000,0.3695,315.7,1783,2670122,42576699,6625596,2178326,82428595,6371129
17,2001,0.3710,316.4,1782,2861103,42234225,6547435,2147368,88551484,6660878
18,2002,0.3729,317.1,1783,4224249,46537792,5882911,2281691,85588110,4759347
19,2003,0.3753,317.7,1787,5109636,49406019,6433529,2220359,88879794,6021905
20,2004,0.3771,318.4,1786,4103069,50698494,6767177,2558328,91487642,7041708
21,2005,0.3792,319.1,1785,5965954,49448469,6848159,2367006,92389996,5319356
22,2006,0.3813,320.0,1785,5277873,47283176,6501692,2217632,94693877,6226022
23,2007,0.3831,320.7,1791,6434881,46384959,6521150,2316848,98356139,4875295
24,2008,0.3852,321.6,1799,4586621,43316181,7097608,1994754,99089489,3421710
25,2009,0.3868,322.4,1804,7165349,47181904,7941566,2203501,92598696,3355196
26,2010,0.3890,323.3,1809,6574852,42218657,6804383,2169445,96072105,4201541
27,2011,0.3909,324.3,1814,5441674,44868370,6806425,2180713,89314158,4396094
28,2012,0.3931,325.2,1819,7044401,45461064,6613113,2196598,95916447,5393858
29,2013,0.3958,326.2,1825,7278776,47599424,6238275,2251560,107824924,5261201
30,2014,0.3977,327.3,1834,7802393,50720786,7240534,2255786,104800624,5230354
31,2015,0.4001,328.3,1844,7021489,49792267,7149193,2102973,105749138,4458951
32,2016,0.4033,329.1,1853,7570334,49573985,6565275,2177994,111740047,4467876
33,2017,0.4056,329.9,1860,7260509,37456825,7438471,2059011,112415328,5103817
34,2018,0.4079,331.1,1869,6264859,47289586,4810760,1964634,112083789,5583910
35,2019,0.4105,332.0,1877,8673262,47448909,7388280,1994620,114930645,4778935

In [15]:
df_gas_State.to_csv("data/State_years.csv", index=False)