In [17]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
# import plotly.graph_objects as go
# import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
import time 
import os
%matplotlib inline

In [18]:
df_crops = pd.read_csv('./data/FAOSTAT_cleaned_data.csv')
df_crops

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag Description
0,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1961,1961,tonnes,15100.0,Unofficial figure
1,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1962,1962,tonnes,15100.0,FAO estimate
2,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1963,1963,tonnes,15100.0,FAO estimate
3,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1964,1964,tonnes,18400.0,FAO estimate
4,QC,Crops,2,Afghanistan,5510,Production,515,Apples,1965,1965,tonnes,20400.0,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154805,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2015,2015,tonnes,45302.0,Official data
154806,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2016,2016,tonnes,42008.0,Official data
154807,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2017,2017,tonnes,38715.0,Official data
154808,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2018,2018,tonnes,45000.0,FAO estimate
154809,QC,Crops,181,Zimbabwe,5510,Production,15,Wheat,2019,2019,tonnes,80000.0,Unofficial figure

In [19]:
df_gas = pd.read_csv('./data/greenhouse gas.csv')
df_gas

    year  CO2_levels  N2O_levels  CH4_levels
0   1984      0.3443       303.9        1654
1   1985      0.3458       304.5        1666
2   1986      0.3472       305.3        1679
3   1987      0.3490       305.9        1691
4   1988      0.3514       306.7        1703
5   1989      0.3530       307.6        1714
6   1990      0.3542       308.6        1724
7   1991      0.3555       309.3        1735
8   1992      0.3562       309.9        1743
9   1993      0.3570       310.1        1746
10  1994      0.3586       310.7        1752
11  1995      0.3604       311.4        1759
12  1996      0.3621       312.0        1761
13  1997      0.3633       312.9        1765
14  1998      0.3660       313.7        1774
15  1999      0.3680       314.6        1782
16  2000      0.3695       315.7        1783
17  2001      0.3710       316.4        1782
18  2002      0.3729       317.1        1783
19  2003      0.3753       317.7        1787
20  2004      0.3771       318.4        1786
21  2005      0.3792       319.1        1785
22  2006      0.3813       320.0        1785
23  2007      0.3831       320.7        1791
24  2008      0.3852       321.6        1799
25  2009      0.3868       322.4        1804
26  2010      0.3890       323.3        1809
27  2011      0.3909       324.3        1814
28  2012      0.3931       325.2        1819
29  2013      0.3958       326.2        1825
30  2014      0.3977       327.3        1834
31  2015      0.4001       328.3        1844
32  2016      0.4033       329.1        1853
33  2017      0.4056       329.9        1860
34  2018      0.4079       331.1        1869
35  2019      0.4105       332.0        1877

In [20]:
df_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        36 non-null     int64
 1   CO2_levels  36 non-null     float64
 2   N2O_levels  36 non-null     float64
 3   CH4_levels  36 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 1.2 KB

In [21]:
year = [1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983]
CO2_levels = []
N2O_levels = []
CH4_levels = []

for i in year:
    CO2_levels.append('no rec')
    N2O_levels.append('no rec')
    CH4_levels.append('no rec')

df_gas2 = pd.DataFrame({"year":year,"CO2_levels":CO2_levels,"N2O_levels":N2O_levels,"CH4_levels":CH4_levels}) 
df_gas2 = pd.concat([df_gas2, df_gas], ignore_index=True)
df_gas2

    year CO2_levels N2O_levels CH4_levels
0   1961     no rec     no rec     no rec
1   1962     no rec     no rec     no rec
2   1963     no rec     no rec     no rec
3   1964     no rec     no rec     no rec
4   1965     no rec     no rec     no rec
5   1966     no rec     no rec     no rec
6   1967     no rec     no rec     no rec
7   1968     no rec     no rec     no rec
8   1969     no rec     no rec     no rec
9   1970     no rec     no rec     no rec
10  1971     no rec     no rec     no rec
11  1972     no rec     no rec     no rec
12  1973     no rec     no rec     no rec
13  1974     no rec     no rec     no rec
14  1975     no rec     no rec     no rec
15  1976     no rec     no rec     no rec
16  1977     no rec     no rec     no rec
17  1978     no rec     no rec     no rec
18  1979     no rec     no rec     no rec
19  1980     no rec     no rec     no rec
20  1981     no rec     no rec     no rec
21  1982     no rec     no rec     no rec
22  1983     no rec     no rec     no rec
23  1984     0.3443      303.9       1654
24  1985     0.3458      304.5       1666
25  1986     0.3472      305.3       1679
26  1987      0.349      305.9       1691
27  1988     0.3514      306.7       1703
28  1989      0.353      307.6       1714
29  1990     0.3542      308.6       1724
30  1991     0.3555      309.3       1735
31  1992     0.3562      309.9       1743
32  1993      0.357      310.1       1746
33  1994     0.3586      310.7       1752
34  1995     0.3604      311.4       1759
35  1996     0.3621        312       1761
36  1997     0.3633      312.9       1765
37  1998      0.366      313.7       1774
38  1999      0.368      314.6       1782
39  2000     0.3695      315.7       1783
40  2001      0.371      316.4       1782
41  2002     0.3729      317.1       1783
42  2003     0.3753      317.7       1787
43  2004     0.3771      318.4       1786
44  2005     0.3792      319.1       1785
45  2006     0.3813        320       1785
46  2007     0.3831      320.7       1791
47  2008     0.3852      321.6       1799
48  2009     0.3868      322.4       1804
49  2010      0.389      323.3       1809
50  2011     0.3909      324.3       1814
51  2012     0.3931      325.2       1819
52  2013     0.3958      326.2       1825
53  2014     0.3977      327.3       1834
54  2015     0.4001      328.3       1844
55  2016     0.4033      329.1       1853
56  2017     0.4056      329.9       1860
57  2018     0.4079      331.1       1869
58  2019     0.4105        332       1877

In [22]:
df_crops.columns

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value',
       'Flag Description'],
      dtype='object')

In [23]:
df_gas_crops = df_crops.copy()
df_gas_crops["CO2_levels"]=0
df_gas_crops["N2O_levels"]=0
df_gas_crops["CH4_levels"]=0
df_gas_crops = df_gas_crops.drop(['Domain Code','Year Code','Element Code'],axis=1)
df_gas_crops

,Domain,Area Code,Area,Element,Item Code,Item,Year,Unit,Value,Flag Description,CO2_levels,N2O_levels,CH4_levels
0,Crops,2,Afghanistan,Production,515,Apples,1961,tonnes,15100.0,Unofficial figure,0,0,0
1,Crops,2,Afghanistan,Production,515,Apples,1962,tonnes,15100.0,FAO estimate,0,0,0
2,Crops,2,Afghanistan,Production,515,Apples,1963,tonnes,15100.0,FAO estimate,0,0,0
3,Crops,2,Afghanistan,Production,515,Apples,1964,tonnes,18400.0,FAO estimate,0,0,0
4,Crops,2,Afghanistan,Production,515,Apples,1965,tonnes,20400.0,FAO estimate,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154805,Crops,181,Zimbabwe,Production,15,Wheat,2015,tonnes,45302.0,Official data,0,0,0
154806,Crops,181,Zimbabwe,Production,15,Wheat,2016,tonnes,42008.0,Official data,0,0,0
154807,Crops,181,Zimbabwe,Production,15,Wheat,2017,tonnes,38715.0,Official data,0,0,0
154808,Crops,181,Zimbabwe,Production,15,Wheat,2018,tonnes,45000.0,FAO estimate,0,0,0
154809,Crops,181,Zimbabwe,Production,15,Wheat,2019,tonnes,80000.0,Unofficial figure,0,0,0

In [26]:
#df_gas2
# df_gas_crops
for i, valA in enumerate(df_gas_crops['Year']):
#     print(valA)
    for j, valB in enumerate(df_gas2['year']):
        if valA == valB:    
#             print(valB)
#             print(j)
#             print(df_gas2['CO2_levels'][j], df_gas2['N2O_levels'][j],df_gas2['CH4_levels'][j])
#             print(df_gas_crops['CO2_levels'][i], df_gas_crops['N2O_levels'][i],df_gas_crops['CH4_levels'][i])
            df_gas_crops['CO2_levels'][i] = df_gas2['CO2_levels'][j]
            df_gas_crops['N2O_levels'][i] = df_gas2['N2O_levels'][j]
            df_gas_crops['CH4_levels'][i] = df_gas2['CH4_levels'][j]
#             year	CO2_levels	N2O_levels	CH4_levels
#             break
#     break
df_gas_crops

,Domain,Area Code,Area,Element,Item Code,Item,Year,Unit,Value,Flag Description,CO2_levels,N2O_levels,CH4_levels
0,Crops,2,Afghanistan,Production,515,Apples,1961,tonnes,15100.0,Unofficial figure,no rec,no rec,no rec
1,Crops,2,Afghanistan,Production,515,Apples,1962,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
2,Crops,2,Afghanistan,Production,515,Apples,1963,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
3,Crops,2,Afghanistan,Production,515,Apples,1964,tonnes,18400.0,FAO estimate,no rec,no rec,no rec
4,Crops,2,Afghanistan,Production,515,Apples,1965,tonnes,20400.0,FAO estimate,no rec,no rec,no rec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154805,Crops,181,Zimbabwe,Production,15,Wheat,2015,tonnes,45302.0,Official data,0.4001,328.3,1844
154806,Crops,181,Zimbabwe,Production,15,Wheat,2016,tonnes,42008.0,Official data,0.4033,329.1,1853
154807,Crops,181,Zimbabwe,Production,15,Wheat,2017,tonnes,38715.0,Official data,0.4056,329.9,1860
154808,Crops,181,Zimbabwe,Production,15,Wheat,2018,tonnes,45000.0,FAO estimate,0.4079,331.1,1869
154809,Crops,181,Zimbabwe,Production,15,Wheat,2019,tonnes,80000.0,Unofficial figure,0.4105,332,1877

In [25]:
df_gas_crops.to_csv("data/Gas_Crops_data.csv", index=False)