# Greenhouse Gases and their effect on Climate Change

The atmospheric concentrations of greenhouse gases reflect a balance between emissions from human activities, sources and sinks. Increasing levels of greenhouse gases in the atmosphere due to human activities are a major driver of climate change.

*The Big 3:*

*Carbon dioxide(CO2)* is the most commonly addressed greenhouse gas, and its atmospheric concentration is measured by parts per million(ppm). *Methane(CH4)* and *nitrous oxide(N2O)* are also extraordinarily important for the global climate and are measured by parts per billion (ppb).

In 2019, greenhouse gas concentrations reached new highs.
- Carbon dioxide: 410.5±0.2 ppm = 148% of preindustrial levels
- Methane: 1877±2 ppb = 260% of preindustrial levels
- Nitrous oxide: 332.0±0.1 ppb = 123% of pre-industrial levels.

It is important to mention that _despite_ setbacks from COVID-19, global greenhouse gas emissions *increased* in 2020.

In [19]:
import time 
import ast
import os   
import re
import bs4
from bs4 import BeautifulSoup  
import pandas as pd
import scipy as sc
import numpy as np
import pandas as pd
import numpy as np
import requests 
import json
import requests
import bs4
from bs4 import BeautifulSoup
import scipy as sc

In [20]:
greenhouse_gas_concentrations = requests.get('https://flo.uri.sh/visualisation/4452881/embed')
type(greenhouse_gas_concentrations)

requests.models.Response

In [21]:
soup = BeautifulSoup(greenhouse_gas_concentrations.text,"html.parser")
type(soup)

bs4.BeautifulSoup

In [22]:
find_script = soup.find_all('script')[4]
# find_script

In [23]:
type(find_script)

bs4.element.Tag

In [24]:
str_script = str(find_script)
# str_script

In [25]:
flourish_data = str_script.split("_Flourish_data = ")[1].split(";")[0]
# print(eval(flourish_data))
flourish_data

'{"data":[{"label":"1984","value":["344.3","303.9","1654"]},{"label":"1985","value":["345.8","304.5","1666"]},{"label":"1986","value":["347.2","305.3","1679"]},{"label":"1987","value":["349","305.9","1691"]},{"label":"1988","value":["351.4","306.7","1703"]},{"label":"1989","value":["353","307.6","1714"]},{"label":"1990","value":["354.2","308.6","1724"]},{"label":"1991","value":["355.5","309.3","1735"]},{"label":"1992","value":["356.2","309.9","1743"]},{"label":"1993","value":["357","310.1","1746"]},{"label":"1994","value":["358.6","310.7","1752"]},{"label":"1995","value":["360.4","311.4","1759"]},{"label":"1996","value":["362.1","312","1761"]},{"label":"1997","value":["363.3","312.9","1765"]},{"label":"1998","value":["366","313.7","1774"]},{"label":"1999","value":["368","314.6","1782"]},{"label":"2000","value":["369.5","315.7","1783"]},{"label":"2001","value":["371","316.4","1782"]},{"label":"2002","value":["372.9","317.1","1783"]},{"label":"2003","value":["375.3","317.7","1787"]},{"label":"2004","value":["377.1","318.4","1786"]},{"label":"2005","value":["379.2","319.1","1785"]},{"label":"2006","value":["381.3","320","1785"]},{"label":"2007","value":["383.1","320.7","1791"]},{"label":"2008","value":["385.2","321.6","1799"]},{"label":"2009","value":["386.8","322.4","1804"]},{"label":"2010","value":["389","323.3","1809"]},{"label":"2011","value":["390.9","324.3","1814"]},{"label":"2012","value":["393.1","325.2","1819"]},{"label":"2013","value":["395.8","326.2","1825"]},{"label":"2014","value":["397.7","327.3","1834"]},{"label":"2015","value":["400.1","328.3","1844"]},{"label":"2016","value":["403.3","329.1","1853"]},{"label":"2017","value":["405.6","329.9","1860"]},{"label":"2018","value":["407.9","331.1","1869"]},{"label":"2019","value":["410.5","332","1877"]}]}'

In [26]:
type(flourish_data)

str

In [27]:
flourish_data = flourish_data.replace('{"data":', '').replace("]}]}", "]}]")
res_data = ast.literal_eval(flourish_data)
year = []
CO2_levels = []
N2O_levels = []
CH4_levels = []
# print("greenhouse gas levels:\n")
# print("year CO2_ppm N2O_ppb CH4_ppb")
for a in res_data:
    label = a['label']
    data_value = a['value']
#     print(label, data_value[0],"  ",data_value[1],"  ",data_value[2])

    year.append(a['label'])
    CO2_levels.append(data_value[0])
    N2O_levels.append(data_value[1])
    CH4_levels.append(data_value[2])
    
df_greenhouse_gas = pd.DataFrame({"year":year,"CO2 levels":CO2_levels,"N2O levels":N2O_levels,"CH4 levels":CH4_levels})
df_greenhouse_gas

    year CO2 levels N2O levels CH4 levels
0   1984      344.3      303.9       1654
1   1985      345.8      304.5       1666
2   1986      347.2      305.3       1679
3   1987        349      305.9       1691
4   1988      351.4      306.7       1703
5   1989        353      307.6       1714
6   1990      354.2      308.6       1724
7   1991      355.5      309.3       1735
8   1992      356.2      309.9       1743
9   1993        357      310.1       1746
10  1994      358.6      310.7       1752
11  1995      360.4      311.4       1759
12  1996      362.1        312       1761
13  1997      363.3      312.9       1765
14  1998        366      313.7       1774
15  1999        368      314.6       1782
16  2000      369.5      315.7       1783
17  2001        371      316.4       1782
18  2002      372.9      317.1       1783
19  2003      375.3      317.7       1787
20  2004      377.1      318.4       1786
21  2005      379.2      319.1       1785
22  2006      381.3        320       1785
23  2007      383.1      320.7       1791
24  2008      385.2      321.6       1799
25  2009      386.8      322.4       1804
26  2010        389      323.3       1809
27  2011      390.9      324.3       1814
28  2012      393.1      325.2       1819
29  2013      395.8      326.2       1825
30  2014      397.7      327.3       1834
31  2015      400.1      328.3       1844
32  2016      403.3      329.1       1853
33  2017      405.6      329.9       1860
34  2018      407.9      331.1       1869
35  2019      410.5        332       1877

# CO2 Impact

CO2 levels indicate the amount of atmospheric CO2 measured in ppm for different time horizons (1985s-2020s) under different SRES emissions and socioeconomic scenarios.

first we will study the increase in CO2 and its effect on changes in the climate. It will lead us to the next study - an increase in CO2 has been proven experimentally to produce an increase in crop yield.